<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>X-Formation statistics</title>
      
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" type="text/css"/>
      <link rel="stylesheet" href="css/style.css" type="text/css"/>
      <script type="text/javascript" src="node_modules/angular/angular.js"></script>
      <script src="node_modules/chart.js/dist/Chart.js"></script>
      <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
      <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="js/xformation.js"></script>

</head>

<body ng-controller="X-Controller">
                      

    <div class="row">
        <div class="col-md-3">
    <div class="nav-side-menu">
        
        <div class="brand"><a href="/">X-Formation statistics</a></div>
      <div class='chart' id='p1'>
      <canvas id='c1'></canvas>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
       


                <li class="center-block">
                  <a  href="#/contributors" ng-click="getContributors('contributorsfile/contributors.json')"> 
                      <i class="fa fa-users fa-lg"></i>Contributors printable
                </a>
                  </li>

                 <li class="center-block">
                 <a  href="#/contributorsTable"
                   ng-click="getContributors('contributorsfile/contributors.json')"><i class="fa fa-bars fa-lg"></i>Contributors table
                </a>
                </li>
                 <li class="center-block">
                   <a  href="#/repositories"
                   ng-click="getRepositories('https://api.github.com/users/x-formation/repos')"><i class="fa fa-registered fa-lg"></i>Repositories printable
                </a>
                  </li >

                 <li class="center-block">
                   <a  href="#/repositoriesTable"
                   ng-click="getRepositories('https://api.github.com/users/x-formation/repos')"><i class="fa fa-line-chart fa-lg"></i>Repositories table
                </a>
                </li>
                 <li class="center-block">
             <a  href="Routers/TestPage.html"><i class="fa fa-check-square-o fa-lg"></i>Unit test</a>

                </li>
            </ul>
     </div>
    </div></div>
            <div class="col-md-9">
                
                <img src="imgs/logo.jpg" alt="" class="img-responsive center-block logo-img"/>
                     
            <div ng-view></div>
            </div>
        </div>      
<script src='node_modules/jquery/dist/jquery.min.js'></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js'></script>

    <script src="js/xformation.js"></script>
    
</body>
</html>
