<h3>Printable Contributions</h3>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="list-group">
        <div class="list-group-item" ng-repeat="user in users | orderBy: 'contributions'">
            <h4>Nickname: <i>{{user.nickname}}</i><br/>
                <small>Team: <i>{{user.team}}</i></small>
            </h4>
            <p><b>Contributions: <i>{{user.contributions}}</i></b></p>
        </div>
    </div>
</div>