<section >
<h3>Contributions</h3>
<div class="col-sm-1"></div>
<div class="col-sm-3">
	<table class="contributors ">
		<thead class="table-responsive">
			<tr>
				<th tabindex="0" ng-click="sortDataCon('nickname')" ng-keypress="sortDataCon('nickname')">
					Nickname <div ng-class="getSortClassCon('nickname')"></div>
				</th>
				<th tabindex="1" ng-click="sortDataCon('team')" ng-keypress="sortDataCon('team')">
					Team <div ng-class="getSortClassCon('team')"></div>					
				</th>
				<th tabindex="2" ng-click="sortDataCon('contributions')" ng-keypress="sortDataCon('contributions')">
                                    Contributions <div ng-class="getSortClassCon('contributions')"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in users | orderBy: sortColumnCon: reverseSort">
				<td>{{item.nickname}}</td>
				<td>{{item.team}}</td>
				<td>{{item.contributions}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-sm-6">

<canvas id="line" class="chart chart-line" chart-data="dataconchart"
chart-labels="labelsconchart" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>
  
</section>