<div class="col-md-7">
    <h2>X-Formation statistics</h2>
    <p> This is AngularJS based responsive single page web
application displaying statistics about X-Formation public repositories and top contributors. Both
statistics are sorted in a descending order by forks count and contributions, respectively</p>
    <p> You also may allow sorting the tables by any preferred column in a descending or ascending order
     . Each table loaded on a separate page with a navigation between. 
     The application have cross-browser compatibility standards.</p>
</div>
<div class="col-md-5">
    <img src="../imgs/Statistics_2.jpg" alt="" class="img-responsive side-statistics"/>
</div>