<h3>Printable Repositories</h3>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="list-group">
        <div class="list-group-item" ng-repeat="repo in repositiories | orderBy : 'forks_count'">
             <p>ID: <i>{{repo.id}}</i></p>
            <h4>Name: <i>{{repo.name}}</i><br/>
                <small><i>{{repo.description}}</i></small>
            </h4>
            <p>Default branch: <i>{{repo.default_branch}}</i></p>
            <p><b>Forks count: <i>{{repo.forks_count}}</i></b></p>
            <p>Size: <i>{{repo.size}}</i></p>
            <p>Watchers: <i>{{repo.watchers_count}}</i></p>
            <p>Language <i>{{repo.language}}</i></p>
            <p>URL: <i><a>{{repo.html_url}}</a></i></p>
            <small>
                Created: <i>{{repo.created_at}}</i><br>
                Updated: <i>{{repo.updated_at}}</i><br/>
            </small>
        </div>
    </div>
</div>


