<section >
<h3>Repositories</h3>
<div class="col-sm-1"></div>
<div class="col-sm-11">
	<table class="contributors ">
		<thead class="table-responsive">
			<tr>
				<th tabindex="0" ng-click="sortDataRepo('name')" ng-keypress="sortDataRepo('name')">
					Name <div ng-class="getSortClassRepo('name')"></div>
				</th>
				<th  tabindex="1" ng-click="sortDataRepo('description')" ng-keypress="sortDataRepo('description')">
					description <div ng-class="getSortClassRepo('description')"></div>					
				</th>
				<th tabindex="2" ng-click="sortDataRepo('default_branch')" ng-keypress="sortDataRepo('default_branch')">
                                    Default branch <div ng-class="getSortClassRepo('default_branch')"></div>
				</th>
                               <th tabindex="5" ng-click="sortDataRepo('watchers_count')" ng-keypress="sortDataRepo('watchers_count')">
                                    Watchers <div ng-class="getSortClassRepo('watchers_count')"></div>
				</th>
				<th tabindex="4" ng-click="sortDataRepo('size')" ng-keypress="sortDataRepo('size')">
					Size <div ng-class="getSortClassRepo('size')"></div>					
				</th>
				
                                 <th tabindex="3" ng-click="sortDataRepo('forks_count')" ng-keypress="sortDataRepo('forks_count')">
					Forks count <div ng-class="getSortClass('forks_count')"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="repo in repositiories| orderBy: sortColumnRepo: reverseSort">
				<td>{{item.name}} <small><i>{{repo.name}}</i></small></td>
				<td>{{repo.description}}</td>
				<td>{{repo.default_branch}}</td>
                                <td>{{repo.forks_count}}</td>
				<td>{{repo.size}}</td>
				<td>{{repo.watchers_count}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-sm-12">
    <canvas id="line1" class="chart chart-line" chart-data="datarepochart"
chart-labels="labelsRepochart" chart-series="series1" chart-options="options1"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>
    <small>X-AXES is Name</small>
<small>Y-AXES is Fork Count</small>
</div>

</section>